@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr-Bold'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: local('HelveticaNeueCyr-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial Bold'), local('Arial-BoldMT'),
        url('../fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'), local('ArialMT'),
        url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: local('Play Bold'), local('Play-Bold'),
        url('../fonts/Play-Bold.woff2') format('woff2'),
        url('../fonts/Play-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: local('Play Regular'), local('Play-Regular'),
        url('../fonts/Play-Regular.woff2') format('woff2'),
        url('../fonts/Play-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

