@import "../css/fonts.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

:root {
  --general-color: #FFF;
  --general-color-2: #000;
  --accent-color: #1E3685;
  --accent-color-2: #0263B2;
  --title-color: #181818;
  --background-color-1: #F2F8FC;
  --transition: all .4s;
}

body {
  font-family: "Montserrat", "HelveticaNeueCyr", "Arial", "Play", sans-serif;
  line-height: 1.5;
  background: var(--general-color);
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  height: 100vh;
  margin-bottom: 20px;
}

.container {
  max-width: 1166px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 30px;
  gap: 10px;
  border-radius: 5px;
  background: #B20237;
}

.header {
  background-color: var(--accent-color);
  max-width: 1920px;
  height: 70px;
  margin-bottom: 680px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  color: var(--general-color);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  z-index: 10;
}

.burger__menu {
  display: none;
}

.header__icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.header__icon span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header__icon span:first-child {
  top: 0.1px;
}

.header__icon span:last-child {
  top: auto;
  bottom: 1px;
}

.header__icon.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.header__icon.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.header__icon-border {
  content: "";
  background: url(../img/icons/icon_border.svg) 50% 50% no-repeat;
  width: 52px;
  height: 44px;
  visibility: hidden;
}

.nav {
  color: var(--general-color);
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0;
  position: relative;
}

.nav__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav__link:hover::before {
  opacity: 1;
}

.nav__feedback {
  display: none;
}

.nav__tel {
  color: var(--general-color-2);
  font-family: "Play";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.nav__inscription {
  color: var(--accent-color);
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
}

.header__tel {
  color: var(--general-color);
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  position: relative;
}

.header__tel::before {
  content: url(../img/icons/tel.svg);
  position: absolute;
  left: -19px;
}

.header__inscription {
  color: var(--general-color);
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  text-align: right;
}

.header__inscription::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 1px;
  background-color: var(--general-color);
  width: 106px;
  margin-left: 36.68px;
}

.hero {
  padding: 110px 0 103px;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.hero__content {
  max-width: 552px;
}

.hero__subtitle {
  color: var(--accent-color-2);
  font-family: "Play";
  font-size: 21px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 6px;
  width: 580px;
  height: 24px;
}

.hero__title {
  color: var(--title-color);
  font-family: "Play";
  font-size: 51px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 34px;
}

.hero__texts {
  font-family: "Arial";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
  margin-bottom: 48px;
}

.hero__text--left {
  width: 194px;
  padding-left: 25px;
  position: relative;
}

.hero__text--left::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 3px;
  background: url(../img/icons/check.svg) 50% 50% no-repeat;
  background-color: #0263B2;
  border-radius: 50%;
}

.hero__text--right {
  width: 307px;
  padding-left: 25px;
  position: relative;
}

.hero__text--right::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 3px;
  background: url(../img/icons/check.svg) 50% 50% no-repeat;
  background-color: #0263B2;
  border-radius: 50%;
}

.hero__buttons {
  color: var(--general-color);
  font-family: "Arial";
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  white-space: nowrap;
}

.hero__button--left {
  max-width: 224px;
}

.hero__button--right {
  max-width: 264px;
}

.hero__img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1000px) {
  .header__top .container {
    padding: 0 20px;
  }
  .hero {
    padding: 80px 0 76px;
  }
  .nav__list {
    gap: 25px;
  }
  .hero__inner {
    gap: 20px;
  }
  .hero__content {
    width: 470px;
    height: 355px;
    position: relative;
  }
  .hero__title {
    width: 470px;
    font-size: 42px;
    margin-bottom: 20px;
  }
  .hero__texts {
    margin-bottom: 40px;
    gap: 20px;
    width: 480px;
    height: 75px;
  }
  .hero__text--right {
    padding-left: 23px;
  }
  .hero__text--left {
    padding-left: 23px;
  }
  .hero__buttons {
    width: 470px;
    height: 52px;
    gap: 20px;
  }
  .hero__button--left {
    width: 201px;
    font-size: 16px;
  }
  .hero__button--right {
    width: 249px;
    font-size: 16px;
  }
  .hero__img img {
    width: auto;
    max-width: 470px;
    height: auto;
    max-height: 357px;
    max-width: 100%;
    max-height: 100%;
    padding-right: 10px;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@media (max-width: 768px) {
  .header__top .container {
    padding: 0 20px;
  }
  .hero {
    padding: 40px 0 84px;
  }
  .header__top {
    position: relative;
    z-index: 20;
  }
  .header__icon {
    position: absolute;
    right: 20px;
    top: 25.5px;
  }
  .header__icon-border {
    visibility: visible;
    position: absolute;
    right: 9.5px;
    top: 12px;
  }
  .nav {
    position: absolute;
    top: 70px;
    right: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgba(30, 54, 133, 0.6);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .nav.active {
    right: 0;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-wrap: nowrap;
    padding: 30px;
    gap: 0;
    height: 100%;
    width: 49%;
    background-color: var(--general-color);
    overflow: auto;
    margin-left: 53%;
    gap: 40px;
  }
  .nav__item {
    overflow: hidden;
    white-space: wrap;
  }
  .nav__item:nth-child(1)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 77px;
  }
  .nav__item:nth-child(2)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 147px;
  }
  .nav__item:nth-child(3)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 210px;
  }
  .nav__link {
    display: block;
    font-size: 30px;
    line-height: 70px;
    margin: 0;
    color: var(--general-color-2);
    font-family: "Play";
    font-size: 24px;
    font-weight: 700;
    line-height: 110%;
  }
  .header__feedback {
    padding: 13px 0 14px 0;
    -webkit-transform: translateX(-85px);
        -ms-transform: translateX(-85px);
            transform: translateX(-85px);
  }
  .hero__content {
    width: 350px;
    height: 389px;
  }
  .hero__subtitle {
    width: 514px;
    text-wrap: wrap;
    max-width: 100vw;
  }
  .hero__title {
    width: 728px;
    text-wrap: wrap;
    max-width: 100vw;
  }
  .hero__img img {
    width: auto;
    max-width: 470px;
    height: auto;
    max-height: 357px;
    max-width: 100%;
    max-height: 100%;
    padding-right: 14px;
    -webkit-transform: translateY(140px);
        -ms-transform: translateY(140px);
            transform: translateY(140px);
  }
  .hero__texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
    width: 354px;
    height: 95px;
  }
  .hero__text--left {
    width: 335px;
  }
  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__buttons {
    width: 320px;
    height: 115px;
    gap: 15px;
  }
  .hero__button--left {
    width: 100%;
    height: 48px;
    max-width: 320px;
  }
  .hero__button--right {
    width: 100%;
    height: 48px;
    max-width: 320px;
  }
}
@media (max-width: 744px) {
  .nav__item:nth-child(1)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 77px;
  }
  .nav__item:nth-child(2)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 169px;
  }
  .nav__item:nth-child(3)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 235px;
  }
}
@media (max-width: 596px) {
  .nav__item:nth-child(1)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 105px;
  }
  .nav__item:nth-child(2)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 198px;
  }
  .nav__item:nth-child(3)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 39%;
    height: 1px;
    position: absolute;
    top: 262px;
  }
}
@media (max-width: 574px) {
  .hero__img img {
    visibility: hidden;
  }
}
@media (max-width: 480px) {
  .hero {
    padding: 30px 0 0 0;
  }
  .nav__list {
    margin-left: 0;
    width: 100%;
  }
  .nav {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav.active {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav__item:nth-child(1)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 87%;
    height: 1px;
    position: absolute;
    top: 77px;
  }
  .nav__item:nth-child(2)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 87%;
    height: 1px;
    position: absolute;
    top: 147px;
  }
  .nav__item:nth-child(3)::after {
    content: "";
    background: url(../img/icons/burger_line.svg);
    background-color: #E0E0E0;
    width: 87%;
    height: 1px;
    position: absolute;
    top: 210px;
  }
  .header__logo {
    font-size: 18px;
  }
  .header__tel::before {
    display: none;
  }
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__content {
    width: 441px;
    height: 336px;
  }
  .hero__subtitle {
    font-size: 18px;
    text-wrap: wrap;
    width: 441px;
    max-width: 100vw;
    margin-bottom: 4px;
  }
  .hero__title {
    font-size: 32px;
    text-wrap: wrap;
    width: 441px;
    max-width: 100vw;
  }
  .hero__texts {
    margin-bottom: 20px;
    gap: 15px;
  }
  .hero__buttons {
    width: 100vw;
    height: 111px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30px;
  }
  .hero__img {
    width: auto;
    height: 260px;
    padding-top: 10px;
  }
  .hero__img img {
    visibility: visible;
    -webkit-transform: translateX(11%);
        -ms-transform: translateX(11%);
            transform: translateX(11%);
    width: auto;
    height: 260px;
    padding-right: 90px;
    padding-left: 15px;
  }
}
@media (max-width: 441px) {
  .header__feedback {
    visibility: hidden;
  }
  .hero__subtitle {
    height: 37px;
  }
  .hero__title {
    width: 400px;
  }
  .hero__content {
    height: 392px;
  }
  .hero__inner {
    gap: 12px;
  }
}
@media (max-width: 400px) {
  .hero__img img {
    padding-right: 30px;
    padding-left: 0;
    -webkit-transform: translateX(25px);
        -ms-transform: translateX(25px);
            transform: translateX(25px);
  }
}
@media (max-width: 365px) {
  .nav__item:nth-child(2)::after {
    width: 87%;
    top: 170px;
  }
  .nav__item:nth-child(3)::after {
    width: 87%;
    top: 236px;
  }
}
@media (max-width: 361px) {
  .hero__inner {
    width: 320px;
    height: 715px;
  }
  .nav__feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    position: relative;
    top: 275px;
  }
  .nav__inscription::after {
    content: "";
    display: block;
    width: 106px;
    height: 1px;
    background-color: var(--accent-color);
  }
  .hero__content {
    width: 320px;
    height: 451px;
  }
  .hero__subtitle {
    width: 320px;
    height: 46px;
  }
  .hero__title {
    width: 320px;
    height: 140px;
  }
  .hero__texts {
    width: 320px;
    height: 110px;
    gap: 10px;
  }
  .hero__text--left {
    width: 320px;
  }
  .hero__text--right {
    width: 320px;
  }
  .hero__img {
    padding-top: 10px;
    height: 244px;
  }
}
.blue-text {
  color: var(--accent-color);
}

.main__choice {
  height: 613px;
}

.choice {
  background-color: var(--background-color-1);
}

.choice__inner {
  display: block;
  width: 1136px;
  height: 407px;
  -webkit-transform: translateY(56px);
      -ms-transform: translateY(56px);
          transform: translateY(56px);
}

.choice__title {
  height: 108px;
  margin: 0 0 40px 0;
  color: var(--general-color-2);
  font-family: "Play";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}

.choice__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  gap: 16px;
}

.choice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 368px;
  height: 259px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: var(--general-color);
  -webkit-box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.4);
          box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.4);
}

.choice__item--left {
  padding: 24px 29px 48px 29px;
}

.choice__item--center {
  padding: 24px 29px;
}

.choice__item--right {
  padding: 24px 29px;
}

.item-title {
  width: 227px;
  height: 81px;
  color: var(--general-color-2);
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.choice__item-title_1::before {
  content: url(../img/icons/choice_icon-1.svg);
  width: 68px;
  height: 68px;
}

.item-text {
  color: var(--general-color-2);
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 320px;
  margin-top: 10px;
}

.choice__item-text_1 {
  height: 96px;
}

.choice__item-text_2 {
  height: 120px;
}

.choice__item-text_3 {
  height: 120px;
}

.choice__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  color: var(--general-color);
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
}

.choice__button--left {
  width: 224px;
  height: 54px;
  text-wrap: nowrap;
}

.choice__button--right {
  width: 309px;
  height: 54px;
}