.footer {
     min-height: 294px;
     background-color: var(--accent-color);
}

.footer__inner {
     display: flex;
     flex-direction: column;
     padding-top: 40px;
     padding-bottom: 23px;
}

.footer__section-1 {
     display: flex;
     gap: 27px;
}

.footer__logo {
     color: var(--footer-color);
     font-family: 'Montserrat';
     font-size: 36px;
     font-weight: 700;
     line-height: normal;
}

.footer__nav {
     display: flex;
     align-items: center;
}

.footer__nav-list {
     display: flex;
     gap: 14px;
}

.footer__nav-item {
     color: var(--footer-color);
     font-family: 'Arial';
     font-size: 16px;
     font-weight: 700;
     line-height: normal;
}

.footer__nav-link {
     display: flex;
     // margin: 12px 0;
     position: relative;
}

.footer__nav-link::before {
     content: "";
     position: absolute;
     bottom: -2px;
     left: 0;
     width: 100%;
     height: 1px;
     background-color: #fff;
     opacity: 0;
     transition: var(--transition);
}

.footer__nav-link:hover::before {
     opacity: 1;
}

.footer__section-2 {
     display: flex;
     justify-content: space-between;
     padding-bottom: 48px;
     max-height: 140px;
}

.footer__address {
     display: flex;
     flex-direction: column;
     padding-top: 37px;
     color: var(--footer-color);
     font-family: 'Arial';
     font-size: 18px;
     font-weight: 400;
     line-height: normal;
     max-height: 93px;
}

.address__icon {
     display: inline-flex;
}

.address__icon span {
     padding-left: 5px;
}

.address__privacy_policy {
     font-size: 12px;
     font-weight: 700;
     line-height: normal;
     padding-top: 21px;
}

.privacy__policy-button:hover {
     opacity: 0.85;
     transition: var(--transition);
}

.footer__connection {
     display: flex;
     flex-direction: column;
     transform: translateY(-40px);
     gap: 34px;
}

.footer__social {
     display: flex;
     gap: 10px;
     justify-content: flex-end;
}

.social__item {}

.social__item-link img:hover {
     filter: drop-shadow(0px 0px 5px var(--general-color));
     transition: var(--transition);
}

.footer__tel {
     color: var(--footer-color);
     font-family: Arial;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     display: flex;
     flex-direction: column;
     gap: 4px;
}

.footer__tel-1:hover {
     opacity: 0.85;
     transition: var(--transition);
}

.footer__tel-2:hover {
     opacity: 0.85;
     transition: var(--transition);
}

.footer__line {
     background: rgba(255, 255, 255, 0.20);
     width: 100%;
     height: 1px;
}

.footer__bottom {
     display: flex;
     justify-content: space-between;
     padding-top: 37px;
     color: rgba(245, 245, 245, 0.54);
     font-family: 'Arial';
     font-size: 14px;
     font-weight: 400;
     line-height: normal;
}

.footer__firm-name {}

.footer__ogrn {}

@media (max-width: 1075px) {
     .footer__section-1 {
          gap: 13px;
     }

     .footer__nav-list {
          gap: 10px;
     }

     .footer__nav-item {
          font-size: 15px;
     }
}

@media (max-width: 1000px) {
     .footer__logo {
          font-size: 24px;
     }

     .footer__section-1 {
          gap: 40px;
     }

     .footer__nav-list {
          gap: 14px;
     }

     .footer__nav-item {
          font-size: 16px;
     }

     .footer__section-2 {
          max-height: 150px;
     }

     .footer__address {
          padding-top: 48px;
          max-height: 103px
     }

     ;
}

@media (max-width: 985px) {
     .footer__section-1 {
          gap: 20px;
     }
}

@media (max-width: 960px) {
     .footer__section-1 {
          gap: 40px;
     }

     .footer__nav-list {
          gap: 14px;
     }

     .footer__nav-item {
          font-size: 16px;
     }

     .footer__section-2 {
          max-height: 160px;
     }

     .footer__address {
          padding-top: 30px;
     }

     .footer__connection {
          transform: translateY(28px);
          gap: 20px;
     }
}

@media (max-width: 800px) {
     .footer__section-1 {
          gap: 20px;
     }
}

@media (max-width: 775px) {
     .footer__nav-item {
          font-size: 15px;
     }
}

@media (max-width: 746px) {
     .footer__section-1 {
          gap: 14px;
     }

     .footer__nav-list {
          gap: 10px;
     }
}

@media (max-width: 728px) {
     .footer__logo {
          font-size: 22px;
     }

     .footer__nav {
          padding-top: 6px;
     }

     .footer__section-1 {
          gap: 10px;
     }

     .footer__nav-list {
          gap: 10px;
     }

     .footer__address {
          font-size: 16px;
     }

     .footer__tel {
          font-size: 22px;
     }
}

@media (max-width: 707px) {
     .footer__logo {
          font-size: 20px;
     }

     .footer__nav {
          padding-top: 6px;
     }

     .footer__nav-item {
          font-size: 14px;
     }

     .footer__section-1 {
          gap: 10px;
     }

     .footer__nav-list {
          gap: 10px;
     }

     .footer__address {
          font-size: 15px;
     }

     .privacy__policy-button {
          font-size: 11px;
     }
}

@media (max-width: 664px) {
     .footer__logo {
          font-size: 24px;
     }

     .footer__section-1 {
          flex-direction: column;
          align-items: center;
          gap: 40px;
          padding-bottom: 40px;
     }

     .footer__nav {
          padding-top: 0;
     }

     .footer__nav-list {
          flex-direction: column;
          align-items: center;
          gap: 20px;
     }

     .footer__nav-item {
          font-size: 20px;
     }

     .footer__section-2 {
          flex-direction: column-reverse;
          padding-bottom: 0;
          max-height: 100%;
          padding-bottom: 30px;
     }

     .footer__tel {
          font-size: 24px;
     }

     .footer__address {
          align-items: center;
          padding-top: 0;
     }

     .address__icon {
          padding-top: 20px;
          font-size: 18px;
     }

     .address__privacy_policy {
          padding-top: 20px;
     }

     .privacy__policy-button {
          font-size: 12px;
     }

     .footer__connection {
          align-items: center;
          gap: 30px;
          transform: none;
     }

     .footer__bottom {
          padding-top: 30px;
     }

     .footer__firm-name {
          max-width: 210px;
     }
}

@media (max-width: 395px) {
     .footer__firm-name {
          max-width: 149px;
     }

     .footer__ogrn {
          text-align: right;
     }
}