:root {
     --general-color: #FFF;
     --general-color-2: #000;
     --accent-color: #1E3685;
     --accent-color-2: #0263B2;
     --title-color: #181818;
     --title-color-2: #B20237;
     --title-color-3: #0173C1;
     --background-color-1: #F2F8FC;
     --background-color-2: #FAFCFF;
     --transition: all .4s;
}

body {
     font-family: "Montserrat", "HelveticaNeueCyr", "Arial", "Play", sans-serif;
     line-height: 1.5;
     background: var(--general-color);
     margin: 0;
     padding: 0;
     text-rendering: optimizeLegibility;
}

body.lock {
     overflow: hidden;
}

.wrapper {
     min-height: 100%;
     width: 100%;
     display: flex;
     overflow: hidden;
     flex-direction: column;
}
.main {
}

.container {
     max-width: 1178px;
     margin: 0 auto;
     padding: 0 21px;
     height: 100%;
}

.button {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 17px 30px;
     gap: 10px;
     border-radius: 5px;
     background: #B20237;
     transition: var(--transition);
}

.button:hover {
     background: #99002E;
     transition: var(--transition);
}