.main__check {
     min-height: 804px;
}

.check {
     background-color: var(--general-color);
}

.check__inner {
     display: block;
     height: 100%;
     padding-top: 56px;
     padding-bottom: 56px;
}

.check__title {
     color: var(--general-color-2);
     font-family: 'Play';
     font-size: 36px;
     font-weight: 700;
     line-height: 1.5;
     padding-bottom: 48px;
}

.check__full {
     display: flex;
     gap: 35px;
}

.check__full-left {
     max-height: 590px;
}

.check__img {
     background: url(../img/content/check_img.png);
     width: 479px;
     height: 285px;
     margin-bottom: 40px;
}


.check__button {
     display: flex;
     color: var(--general-color);
     font-family: 'Arial';
     font-size: 17px;
     font-weight: 400;
     line-height: normal;
     text-wrap: nowrap;
     justify-content: center;
}

.check__button a {
     max-width: 224px;
     max-height: 54px;
}

.check__button-single {}

.check__img-one {
     height: 327px;
     position: absolute;
     transform: translate(527px);
}

.check__three-reasons {}

.check__reason-1 {}

.check__reason-1_top {
     display: flex;
}

.check__reason-1_icon {
     padding-right: 16px;
     z-index: 1;
}

.check__reason-title {
     padding-bottom: 16px;
     color: var(--general-color-2);
     font-family: 'Arial';
     font-size: 18px;
     font-weight: 700;
     line-height: 1.5;
}

.check__reason-text {
     color: var(--general-color-2);
     font-family: 'Arial';
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
}

.check__reason-1_title {}

.check__reason-1_bottom {
     padding: 0 0 24px 44px;
}

.check__reason-2 {}

.check__reason-2_top {
     display: flex;
}

.check__reason-2_icon {
     padding-right: 16px;
     z-index: 1;
}

.check__reason-2_title {}

.check__reason-2_bottom {
     padding: 0 0 24px 44px;
}

.check__reason-3 {}

.check__reason-3_top {
     display: flex;
}

.check__reason-3_icon {
     padding-right: 16px;
     z-index: 1;
}

.check__reason-3_title {}

.check__reason-3_bottom {
     padding: 0 0 16px 44px;

}

.check__reason-3_columns {
     display: flex;
     gap: 17px;
     padding-left: 44px;
     color: var(--general-color-2);
     font-family: 'HelveticaNeueCyr';
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
}

.check__column-1 {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.check__column-1_element-1 {
     display: flex;
}

.check__svg {
     padding-right: 8px;
}

.check__column-1_element-1_svg {}

.check__column-1_element-1_text {}

.check__column-1_element-2 {
     display: flex;
}

.check__column-1_element-2_svg {}

.check__column-1_element-2_text {}

.check__column-2 {
     display: flex;
     flex-direction: column;
     gap: 10px
}

.check__column-2_element-1 {
     display: flex;
}

.check__column-2_element-1_svg {}

.check__column-2_element-1_text {}

.check__column-2_element-2 {
     display: flex;
}

.check__column-2_element-2_svg {}

.check__column-2_element-2_text {}

@media (max-width: 1102px) {
     .check__img-one {
          height: 379px;
     }
}

@media (max-width: 1100px) {
     .check__img {
          background: url(../img/content/check_img_420.png);
          width: 420px;
          height: 250px;
     }

     .check__img-one {
          height: 330px;
          transform: translate(468px);
     }
}

@media (max-width: 1043px) {
     .check__img-one {
          height: 379px;
     }
}

@media (max-width: 1000px) {
     .check__title {
          font-size: 32px;
          line-height: 1.4;
          padding-bottom: 51px;
     }

     .check__img {
          background: url(../img/content/check_img_372.png);
          width: 372px;
          height: 221px;
     }

     .check__button {
          font-size: 16px;
     }

     .check__img-one {
          transform: translate(419px);
          height: 355px;
     }
}

@media (max-width: 922px) {
     .check__img-one {
          height: 407px;
     }
}

@media (max-width: 909px) {
     .check__img-one {
          height: 457px;
     }
}

@media (max-width: 884px) {
     .check__img {
          background: url(../img/content/check_img_324.png);
          width: 324px;
          height: 194px;
     }

     .check__img-one {
          transform: translate(371px);
          height: 379px;
     }
}

@media (max-width: 867px) {
     .check__img-one {
          transform: translate(371px);
          height: 433px;
     }
}

@media (max-width: 852px) {
     .check__img-one {
          transform: translate(371px);
          height: 481px;
     }
}

@media (max-width: 788px) {
     .check__img-one {
          transform: translate(371px);
          height: 528px;
     }
}

@media (max-width: 768px) {
     .check__title {
          padding-bottom: 33px;
     }
     .check__full {
          flex-direction: column-reverse;
     }

     .check__img-one {
          transform: translate(13px, -570px);
          height: 284px;
     }

     .check__img {
          background: url(../img/content/check_img_354.png) 50% 50% no-repeat;
          display: flex;
          justify-content: center;
          height: 211px;
          width: 100%;
     }

     .check__button a {
          max-width: 320px;
          max-height: 48px;
          width: 100%;
     }
}

@media (max-width: 741px) {
     .check__img-one {
          transform: translate(13px, -570px);
          height: 303px;
     }
}

@media (max-width: 728px) {
     .check__img-one {
          transform: translate(13px, -618px);
          height: 306px;
     }
}

@media (max-width: 620px) {
     .check__img-one {
          height: 355px;
     }
}

@media (max-width: 614px) {
     .check__img-one {
          transform: translate(13px, -645px);
          height: 355px;
     }
}

@media (max-width: 597px) {
     .check__img-one {
          transform: translate(13px, -668px);
          height: 356px;
     }
}

@media (max-width: 560px) {
     .check__img-one {
          transform: translate(13px, -692px);
          height: 380px;
     }
}

@media (max-width: 536px) {
     .check__img-one {
          transform: translate(13px, -741px);
          height: 355px;
     }
}

@media (max-width: 508px) {
     .check__img-one {
          transform: translate(13px, -743px);
          height: 407px;
     }
}

@media (max-width: 493px) {
     .check__img-one {
          transform: translate(13px, -742px);
          height: 456px;
     }
}

@media (max-width: 480px) {
     .check__title {
          font-size: 28px;
          line-height: 1.3;
          padding-bottom: 30px;
     }

     .check__full {
          gap: 20px;
     }

     .check__img-one {
          transform: translate(13px, -642px);
          height: 440px;
     }

     .check__reason-title {
          line-height: 1.2;
     }

     .check__reason-text {
          line-height: 1.4;
     }

     .check__reason-3_columns {
          flex-direction: column;
     }

     .check__img {
          background: url(../img/content/check_img_320.png) 50% 50% no-repeat;
          width: 100%;
          height: 190px;
     }
}

@media (max-width: 457px) {
     .check__img-one {
          transform: translate(13px, -665px);
     }
}

@media (max-width: 455px) {
     .check__img-one {
          transform: translate(13px, -716px);
          height: 415px;
     }
}

@media (max-width: 441px) {
     .check__img-one {
          transform: translate(13px, -736px);
          height: 437px;
     }
}

@media (max-width: 429px) {
     .check__img-one {
          transform: translate(13px, -760px);
          height: 459px;
     }
}

@media (max-width: 385px) {
     .check__img-one {
          transform: translate(13px, -784px);
          height: 486px;
     }
}

@media (max-width: 371px) {
     .check__img-one {
          transform: translate(13px, -808px);
     }
}

@media (max-width: 355px) {
     .check__img-one {
          transform: translate(13px, -829px);
          height: 507px;
     }
}

@media (max-width: 352px) {
     .check__img-one {
          transform: translate(13px, -806px);
          height: 552px;
     }
}

@media (max-width: 337px) {
     .check__img-one {
          transform: translate(13px, -830px);
          height: 550px;
     }
}