.blue-text {
     color: var(--accent-color);
}

.main__choice {
     height: 613px;
}

.choice {
     background-color: var(--background-color-1);
}

.choice__inner {
     display: block;
     width: 1136px;
     height: 407px;
     transform: translateY(56px);
}

.choice__title {
     height: 108px;
     margin: 0 0 40px 0;
     color: var(--general-color-2);
     font-family: 'Play';
     font-size: 36px;
     font-weight: 700;
     line-height: 1.5;
}

.choice__info {
     display: flex;
     margin-bottom: 40px;
     gap: 16px;
}

.choice__item {
     display: flex;
     width: 368px;
     height: 259px;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     background: var(--general-color);
     box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.40);
}

// .choice__item {
//      display: flex;
//      width: 368px;
//      height: 259px;
//      justify-content: center;
//      align-items: center;
//      border-radius: 10px;
//      background: var(--general-color);
//      box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.40);
// }

.choice__item--left {
     padding: 24px 29px 48px 29px;
}

.choice__item--center {
     padding: 24px 29px;
}

.choice__item--right {
     padding: 24px 29px;
}

.item-title {
     width: 227px;
     height: 81px;
     color: var(--general-color-2);
     font-family: Arial;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.5;
}

.choice__item-title_1 {
     display: flex;
     width: 310px;
     gap: 15px;
}

.choice__item-title_1::before {
     content: url(../img/icons/choice_icon-1.svg);
     width: 68px;
     height: 68px;
}

.choice__item-title_2 {
     display: flex;
     width: 310px;
     gap: 15px;
}

.choice__item-title_2::before {
     content: url(../img/icons/choice_icon-2.svg);
     width: 68px;
     height: 68px;
}

.choice__item-title_3 {
     display: flex;
     width: 310px;
     gap: 15px;
}

.choice__item-title_3::before {
     content: url(../img/icons/choice_icon-3.svg);
     width: 68px;
     height: 68px;
}


.full__title {}

.item-text {
     color: var(--general-color-2);
     font-family: Arial;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     width: 320px;
     margin-top: 10px;
}

.choice__item-text_1 {
     height: 96px;
}

.choice__item-text_2 {
     height: 120px;
}

.choice__item-text_3 {
     height: 120px;
}

.choice__buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 30px;
     color: var(--general-color);
     font-family: Arial;
     font-size: 17px;
     font-weight: 400;
     line-height: normal;
}

.choice__button--left {
     width: 224px;
     height: 54px;
     text-wrap: nowrap;
}

.choice__button--right {
     width: 309px;
     height: 54px;
}

@media (max-width: 1000px) {
     .header {
          margin-bottom: 535px;
     }

     br {
          display: none;
     }
     
     .main__choice {
          height: 924px;
     }

     .choice__title {
          width: 960px;
          height: 90px;
          margin: 0 0 30px 0;
          font-size: 32px;
          line-height: 1.4;
     }

     .choice__info {
          flex-direction: column;
     }
     
     .choice__item {
          width: 960px;
          height: 184px;
     }
     
     .choice__item--left {
          width: 960px;
          max-width: 960px;
          min-width: 200px;
          height: 184px;
          padding: 29px 24px;
     }

     .choice__item--center {
          width: 960px;
          height: 184px;
          padding: 29px 24px;
     }

     .choice__item--right {
          width: 960px;
          height: 184px;
          padding: 29px 24px;
     }
     
     .item-title {
          width: 932px;
     }
     
     .full__title {
          display: flex;
          align-items: center;
          width: 849px;
          height: 68px;
     }

     .item-text {
          width: 912px;
          margin-top: 0;
     }

     .choice__buttons {
          width: 960px;
     }

     .choice__button--left {
          height: 52px;
     }

     .choice__button--right {
          height: 52px;
     }
}