.blue-text {
     color: var(--accent-color);
}

.main__choice {
     min-height: 613px;
}

.choice {
     background-color: var(--background-color-1);
}

.choice__inner {
     display: block;
     padding: 56px 0 56px;
}

.choice__title {
     height: 6.75rem;
     margin: 0 0 40px 0;
     color: var(--general-color-2);
     font-family: 'Play';
     font-size: 36px;
     font-weight: 700;
     line-height: 1.5;
}

.choice__info {
     display: flex;
     margin-bottom: 40px;
     gap: 16px;
}


.choice__item {
     display: flex;
     max-width: 368px;
     height: 259px;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     background: var(--general-color);
     box-shadow: 0px 24px 48px 0px rgba(230, 235, 245, 0.40);
}


.choice__item--left {
     padding: 24px 29px 48px 29px;
}

.choice__item--center {
     padding: 24px 29px;
}

.choice__item--right {
     padding: 24px 29px;
}

.item-title {
     max-width: 310px;
     max-height: 81px;
     color: var(--general-color-2);
     font-family: Arial;
     font-size: 18px;
     font-weight: 700;
     line-height: 1.5;
}

.choice__item-title_1 {
     display: flex;
     gap: 15px;
}

.choice__item-title_1::before {
     content: url(../img/icons/choice_icon-1.svg);
     width: 68px;
     height: 68px;
}

.choice__item-title_2 {
     display: flex;
     gap: 15px;
}

.choice__item-title_2::before {
     content: url(../img/icons/choice_icon-2.svg);
     width: 68px;
     height: 68px;
}

.choice__item-title_3 {
     display: flex;
     gap: 15px;
}

.choice__item-title_3::before {
     content: url(../img/icons/choice_icon-3.svg);
     width: 68px;
     height: 68px;
}


.full__title-1 {
     min-width: 185px;
}

.full__title-2 {
     min-width: 211px;
}

.full__title-3 {
     min-width: 206px;
}

.item-text {
     color: var(--general-color-2);
     font-family: Arial;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
     max-width: 310px;
     margin-top: 10px;
}

.choice__item-text_1 {
     max-height: 96px;
}

.choice__item-text_2 {
     max-height: 119px;
}

.choice__item-text_3 {
     max-height: 120px;
}

.choice__buttons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 30px;
     color: var(--general-color);
     font-family: Arial;
     font-size: 17px;
     font-weight: 400;
     line-height: normal;
}

.choice__button--left {
     max-width: 224px;
     height: 54px;
     text-wrap: nowrap;
}

.choice__button--right {
     max-width: 309px;
     height: 54px;
}

@media (max-width: 1100px) {
     br {
          display: none;
     }

     .choice__title {
          max-width: 1179px;
          max-height: 90px;
          margin: 0 0 30px 0;
          font-size: 32px;
          line-height: 1.4;
     }

     .choice__info {
          flex-direction: column;
          gap: 24px;
     }

     .choice__item {
          max-width: 1179px;
          max-height: 184px;
          justify-content: left;
          height: auto;
     }

     .choice__item--left {
          max-width: 960px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 29px 24px;
     }

     .choice__item--center {
          max-width: 960px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 29px 24px;
     }

     .choice__item--right {
          max-width: 960px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 29px 24px;
     }

     .item-title {
          max-width: 912px;
          align-items: center;
     }

     .full__title {
          display: flex;
          align-items: center;
     }

     .item-text {
          max-width: 912px;
          margin-top: 0;
     }

     .choice__buttons {
          max-width: 1179px;
     }

     .choice__button--left {
          max-width: 224px;
          height: 52px;
     }

     .choice__button--right {
          min-width: 309px;
          height: 52px;
     }
}

@media (max-width: 1000px) {
     .header {
          margin-bottom: 535px;
     }
}

@media (max-width: 768px) {
     .header {
          margin-bottom: 515px;
     }

     .choice__title {
          max-width: 728px;
          max-height: 90px;
          margin: 0 0 30px 0;
          font-size: 32px;
          line-height: 1.4;
     }
}

@media (max-width: 740px) {

     .choice__item {
          max-height: 195px;
     }
}

@media (max-width: 600px) {

     .choice__buttons {
          gap: 15px;
          flex-direction: column;
          align-items: normal;
     }

     .choice__button--left {
          max-width: 100%
     }

     .choice__button--right {
          max-width: 100%
     }
}

@media (max-width: 571px) {

     .choice__title {
          max-height: 108px;
          margin: 0 0 50px 0;
     }
}

@media (max-width: 554px) {
     .header {
          margin-bottom: 555px;
     }
}

@media (max-width: 492px) {
     .header {
          margin-bottom: 590px;
     }
}

@media (max-width: 480px) {
     .header {
          margin-bottom: 700px;
     }

     .hero__content {
          height: 370px;
     }

     .choice__title {
          font-size: 27px;
          line-height: 130%;
          margin: 0 0 30px 0;
     }

     .choice__info {
          gap: 20px;
     }

     .choice__item-1 {
          max-height: 171px;
     }

     .choice__item-2 {
          max-height: 182px;
     }

     .choice__item-3 {
          max-height: 204px;
     }

     .choice__item--left {
          padding: 19px;
          gap: 7px;
     }

     .choice__item--center {
          padding: 19px;
          gap: 7px;
     }

     .choice__item--right {
          padding: 19px;
          gap: 7px;
     }

     .item-title {
          line-height: 1.2;
     }

     .choice__item-title_1,
     .choice__item-title_2,
     .choice__item-title_3 {
          gap: 10px;
     }

     .choice__item-title_1::before {
          content: url(../img/icons/choice_icon-1_480.svg);
     }

     .choice__item-title_2::before {
          content: url(../img/icons/choice_icon-2_480.svg);
     }

     .choice__item-title_3::before {
          content: url(../img/icons/choice_icon-3_480.svg);
     }

     .item-text {
          line-height: 1.4;
     }
}

@media (max-width: 465px) {
     .choice__item-2 {
          max-height: 202px;
     }
}

@media (max-width: 456px) {
     .header {
          margin-bottom: 710px;
     }

     .hero__content {
          height: 396px;
     }
}

@media (max-width: 441px) {
     .header {
          margin-bottom: 695px;
     }
}

@media (max-width: 431px) {
     .choice__item-3 {
          max-height: 224px;
     }
}

@media (max-width: 424px) {
     .choice__item-1 {
          max-height: 191px;
     }
}

@media (max-width: 400px) {
     .choice__item-2 {
          max-height: 224px;
     }
}
@media (max-width: 385px) {
     .hero__content {
          height: 425px;
     }

     .header {
          margin-bottom: 740px;
     }
}
@media (max-width: 367px) {
     .choice__item-1 {
          max-height: 216px;
     }

     .choice__item-text_1.item-text {
          max-height: none;
     }
}

@media (max-width: 361px) {
     .header {
          margin-bottom: 746px;
     }

     .choice__item-1 {
          max-height: 226px;
     }

     .choice__item-text_1.item-text {
          max-height: none;
     }
}

@media (max-width: 361px) {
     .hero__content {
          height: 453px;
     }

     .hero__texts {
          text-align: start;
     }
}

@media (max-width: 353px) {
     .choice__title {
          height: 140px;
          max-height: none;
     }
}